#batard{
    overflow-y: hidden;
}

.navbar, header, aside, main article{
    background-color: black;
}

h3{
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}


main article{
    height: 410px;

}
aside, footer, main article p , main article h3 , header h1{

    padding: 0 3%;


}
main article img{
    height: 282px;
    width: 100%;
    margin-bottom: 0.5em;
}

.audioimg{
    width: 100%;
}

aside form input{
    width: 80%;
}

aside{
    height: 100%;
    font-family: 'Lato', sans-serif;
        color: white;
        /* padding: 0 5%; */
}

aside a{
    color: white;
}

aside li{
    list-style-type: none;
}

.nav-pills .nav-link.active{
    background-color: green;
}

.form-control{
    border-color: grey;
}

.navbar-light .navbar-toggler{
    background-color: grey;
}

h2 {
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    margin-bottom: 45%;
}
section p {
    font-size: 0.9em;


}
section p a {
    text-decoration: underline;
    color: green;


}
section p a:hover{
    text-decoration: underline;
    color: white;
    background-color: green;
}

.bigHr{
    border: solid 3px black;

}
h4{
    font-weight: bold;
    font-size: 1.1em;

}

h5{
    color: green;
    font-size: 0.9em;
}
.concertDate p{
    color: grey;
    font-size: 0.9em;
    line-height: 0.1em;
}

footer{
    background-color: black;
    color: white;
    font-size: 0.7em;
    padding-bottom: 3em;
    /* padding-left: 5%; */
}

h6{
    font-size: 1.2em;
    font-weight: bold;
}
.bigContainer{

    /* padding: 2%;
    box-sizing: border-box; */

}


.Up{

    padding-right: 2em;
    padding-top: 3em;
}

.BigSection{
    padding: 3em 15%;
    height: 100%;
}

@media screen and (max-width: 770px) {
    h2{
        font-size: 2.5em;
    }
    .Up{
        padding: 0;
        margin: 0.5em;
    }
    .BigSection{
        padding: 0, 1.5%;
    }
    h2{
        margin-bottom: 20%;
    }
}
